
  
  body {
    margin: 0;
    min-height: 100%; 
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--slate);
    font-size: var(--fz-xl);
    line-height: 1.3;
  }
  
  
  :root {
    --text-primary1:#1523f7;
    --text-secondary1:#979797;
    --slate1: #b3b3b3;
    --light-slate1: #a8b2d1;
    --primary-color1:#d90200;
    --primary1:#041630;
    --background1:#041630;
    
    --dark-navy1: #121cad;
    --navy1: #0a192f;
    --light-navy1: #112240;
    --lightest-navy1: #233554;
    --navy-shadow1: rgba(2, 12, 27, 0.7);
    --slate1: #b3b3b3;
    --light-slate1: #a8b2d1;
    --lightest-slate1: #ccd6f6;
    --white1: #e6f1ff;
    --green1: #64ffda;
    --green-tint1: rgba(100, 255, 218, 0.1);
  
  
    --font-sans1: Poppins;
    --font-mono1: Poppins;
  
    --fz-xxs1: 12px;
    --fz-xs1: 13px;
    --fz-sm1: 14px;
    --fz-md1: 16px;
    --fz-lg1: 18px;
    --fz-xl1: 20px;
    --fz-xxl1: 22px;
    --fz-heading1: 32px;
  
  
      --fz-xxs1: 12px;
      --fz-xs1: 13px;
      --fz-sm1: 14px;
      --fz-md1: 16px;
      --fz-lg1: 18px;
      --fz-xl1: 20px;
      --fz-xxl1: 22px;
      --fz-heading1: 32px;
  
      --border-radius1: 4px;
      --nav-height1: 100px;
      --nav-scroll-height1: 70px;
  
      --tab-height1: 42px;
      --tab-width1: 120px;
  
      --easing1: cubic-bezier(0.645, 0.045, 0.355, 1);
      --transition1: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  
      --hamburger-width1: 30px;
  
      --ham-before1: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
      --ham-before-active1: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
      --ham-after1: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      --ham-after-active1: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  }
  
  /* Text Layout */
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button-primary {
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(255, 255, 255); 
    border: 2px solid var(--primary-color1);
  }
  
  .button-primary:hover {
    background-color: var(--primary-color1);
    color: white;
  }
  
  .button-primary-second {
    background-color: rgba(255, 255, 255, 0); 
    color: var(--primary-color1); 
    border: 2px solid var(--primary-color1);
  }
  
  .button-primary-second:hover {
    background-color: var(--primary-color1);
    color: white;
  }
  .txt_info{
    font-family: var(--font-sans);
    color: var(--primary-color1);
    margin: 0px 0px 30px 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
  }
  
  .txt_primary1{
    font-weight: 600;
    color: var(--text-primary1);
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
    font-family: var(--font-sans);
  }
  
  .txt_secondary1{
    margin-top: 10px;
    color: var(--primary-color1);
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    font-family: var(--font-sans);
  }
  
  .txt_verse{
    color: var(--background1);
    margin-top: 5%;
    font-size: 25px;
    line-height: 1.3;
    font-family: var(--font-sans);
  }
  
  .txt_reference_verse{
    color: var(--background);
    font-size: 18px;
    color: var(--primary-color1);
    font-family: Poppins;
  }
  /* Navigation */
  
  
  header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  
  section {
    padding: 8rem 0;
  }
  
  .section-heading {
    margin-top: 0;
  }
  
  .main_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .about_me_section{
    background-color: var(--background1);
  }
  
  .about_me{
    align-items: center; 
    justify-content: center;
    text-align: center;
  }
  
  .about_me_sbutitle{
    color: #ff7057;
  }
  
  .about_me_description{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .meetings_section{
    
  }
  
  .meetings_me{
    align-items: center; 
    justify-content: center;
    text-align: center;
  }
  .meetings_me_items{
    /* flex-direction: row;
    direction: row;
    flex:1; */
  }
  .meetings_time{
    font-weight: bold;
    font-family: var(--font-sans);
    color: black;
  }
  
  .meetings_title{
    color: var(--primary-color1);
  }

.mapouter{
  position:relative;
  text-align:right;
  width:70%;
  height:100%;
}

.gmap_iframe {
  width:100%!important;
  height:100%!important;
}

.contact{
  text-align: center;
}

.social_icon{
  margin-left: 2%;
  margin-right: 2%;
}

.footer{
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;
}
.image_bible{
  /* background-image: url('./assets/img/biblia.jpg'); */
  background:
    linear-gradient(
      rgba(0,0,0,.8),rgba(0,0,0,.8)
    ),
    url('../../assets/image/biblia.jpg') no-repeat;
  width: 100%;
  height: 700px;
}
.image{
  align-items: center; 
  justify-content: center;
  text-align: center;
}

.text{
    color:#979797
}