.custom{ 
    align-items: center;
    margin-left: 2%;
    margin-top: 5%;
}

.custom ul.custom-list {
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: outside none none;
}


.custom ul.custom-grid-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: outside none none;
}